@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
    font-family: 'Merriweather', serif;
}

/* Colors */

:root {
    --primary-color: #F2F2F2;
    --secondary-color: #3E4759;
    --tertiary-color: #C8CACF;
    --quaternary-color: #151821;
    --quinary-color: #BFA58E;
    --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Header */ 

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0;
    height: 88px;
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    z-index: 1;
}

.axium {
    color: black;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding: 1.2rem;
    letter-spacing: 8px;
    -webkit-text-stroke-width: thin;
    font-family: var(--font-family);
}

.axium:hover {
    color: var(--primary-color);
}

/* Menu or Sidenav */
    

.topnav {
    display: none 
}

.span {
    position: absolute;
    right: 0;
    padding: 1.6rem;
    font-size: 24px;
    color: var(--primary-grey);
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align:left;
    background-color: white;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--primary-grey);
    display: block;
    transition: 0.3s;
  
}

.sidenav .menu {
    padding-top: 88px;
}

.sidenav .menu .item {
    display: flex;
    justify-content: space-between;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-top: 2px solid var(--secondary-color);
}

.contact {
    border-bottom: 2px solid var(--secondary-color);
}

.item

.sidenav .menu .item img {
    height: 16px;
    width: 16px;
    padding: 8px 32px 8px 8px;
}
  
.sidenav a:hover{
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    right: 0;
    font-size: 24px;
    padding: 1.6rem;
    color: var(--primary-grey);
}
  
button {
    border-style: solid;
    border-color: var(--tertiary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 8px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
    }

button h1 {
    font-size: 20px;
    display: contents;
    font-weight: bold;
    text-transform: uppercase;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
    background-color: gray;
    color: white;
}

.btn1:active, .btn2:active, .btn3:active, .btn4:active {
    background-color: black;
}
  
/* Body Homepage */

.sky {
    background-image: url(/pictures/bground.jpg);
    background-size: cover;
}

.programming {
    width: 100vw;
    height: calc(100vh - 100px);
    background-image: url(/pictures/programming4.jpeg);
    background-repeat: repeat;
    background-position: center;
    display: table;
    filter: grayscale(100%);
    margin-top: 10rem;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
}

.programming-text {
    color: white;
    text-shadow: 0 0 20px black;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.programming-text h1 {
    font-family: var(--font-family);
    margin-left: 2rem;
    margin-right: 2rem;
}

.programming-text h2 {
    font-family: var(--font-family);
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


/* Links til andre sider */


.mobile-links, .desktop-links {
    margin-top: 2rem;
    margin-left: 6vw;
}

.mobile-links a, .desktop-links a {
    text-decoration: none;
    justify-self: center;
}

.box1, .box2, .box3, .box4 {
    display: none;
}

.box3, .box4 {
    margin-top: 2rem;
}

.mobile-1, .mobile-2, .mobile-3, .mobile-4 {
    margin: 16px 16px 0px;
    width: calc(100% - 32px);
    height: 100px;
    background-color: #f2f2f2;
}


/* Homepage - Portfolio - mobile*/


.mobile-1 {
    background-image: url(/pictures/port1.jpeg);
    background-size: cover;
    background-position: center;
    width: 80vw;
    height:175px;
    border-radius:16px;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
    position:relative;
}

.mobile-1 h3 {
    font-size: 28px;
    line-height: 11rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px black;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    
}


/* Homepage - Portfolio - mobile*/


.mobile-2 {
    background-image: url(/pictures/blog2.jpeg);
    background-size: cover;
    background-position: center;
    width: 80vw;
    height:175px;
    border-radius:16px;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
    position:relative;
}

.mobile-2 h3 {
    font-size: 28px;
    line-height: 11rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px black;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    
}


/* Homepage - Portfolio - mobile*/


.mobile-3 {
    background-image: url(/pictures/about3.jpg);
    background-size: cover;
    background-position: center;
    width: 80vw;
    height:175px;
    border-radius:16px;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
    position:relative;
}

.mobile-3 h3 {
    font-size: 28px;
    line-height: 11rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px black;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    
}


/* Homepage - Portfolio - mobile*/


.mobile-4 {
    background-image: url(/pictures/contact1.jpeg);
    background-size: cover;
    background-position: center;
    width: 80vw;
    height:175px;
    border-radius:16px;
    box-shadow:0 0 16px rgba(0,0,0,0.5);
    position:relative;
}

.mobile-4 h3 {
    font-size: 28px;
    line-height: 11rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px black;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    
}


/* Body - Portfolio */

/*  Portfolio - Description */

.description-port {
    display: block;
    margin-top: 10rem;
}

.description-port h1 {
    font-family: var(--font-family);
    text-align: center;
}

/*  Portfolio - Projects */

.deskrh3 {
    display: none;
}

.mobile-port {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.mobile-port a{
    font-size: 30px;
    text-decoration: none;
  
}

.center h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-family);
}

.kobenhavn{
    text-align: center;
}


.project {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.project img {
    display: none;
}

.project-content{
    width: 50vw;
    height: 550px;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.project-content img {
    width: 50%;
    height: 50%;
    left: 25%;
    position: relative;
    border-radius: 15px;
}

.project h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}

.project h3{
    margin-top: 2rem;
    text-align: center;
    font-size: 15px;
    color: black;
    text-decoration: underline;
}

.project h4{
    margin-top: 0;
    margin-left: 1.5rem;
}

.project p{
    font-size: 12px;
    margin-bottom: 0;
    margin-left: 1.5rem;
}

.close{
    position: absolute;
    top:0;
    right: 14px;
    font-size: 39px;
    transform: rotate(45deg);
}

.bport {
    border-style: ridge;
    border-radius: 0;
}

.bport:hover {
    background-color: gray;
    color: white;
}

/* Body - Blog */

.binfo {
    display: flex;
}

.blogpic img {
    width: 100vw;
    height: 50vh;

}

.wheelchair {
    font-size: 8px;
    float: left;
    display: inline-flex;
    position: absolute;
    margin-top: 12rem;
    margin-left: 0.5rem;
    padding: 2rem;
    transform: rotate(347deg);
}



/* Body - About Me */


/* Body - info about me*/


.info {
    margin-top: 10rem;
    display: block;
}

.me {
    background-image: url(/pictures/9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100vw;
}

.metext h1 {
    text-align: center;
}
/* about me - media querry

.info {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

*/


/* Body - Contact */


* {
    box-sizing: border-box;
  }
  
.contactbox {
    margin-top: 10rem;
}


  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }


/* Footer Area */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    border-top: 2px solid var(--primary-grey);
    
}

.socials {
    height: 35px;
}

.socials a{
    height: 35px;
    width: 35px;
    text-decoration: none;
}

.copyright {
    margin-top: 0.4rem;
    font-size: 13px;
}


@media (min-width: 1080px) {
    

    /* Header Scaled */
    

    header {
        display: inline-flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        height: 88px;
        width: 100%;
        background-color: var(--tertiary-color);
        border-bottom: 2px solid var(--secondary-color);
    }

    header a {
        text-decoration: none;
        color: var(--quaternary-color);
        font-weight: 500;
        font-size: 20px;
    }


    /* Navigation */


    .span {
        display: none;
    }

    .sidenav {
        display: none;
    }

    .topnav {
        display: inline-flex;
        justify-content: center;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-top: 1.8rem;
        margin-bottom: 0;
        padding: 0;
    }

    nav li {
        margin: 2rem;
        margin-bottom: 0;
        margin-top: 0;
    }


    /* Body - Homepage - Desktop */


    .programming-text h1 {
        margin-top: -15rem;
        font-size: 4rem;
        
    } 

    
    .programming-text h2 {
        margin-top: 4rem;
        margin-left: 40rem;
        float: right;
        text-align: start;
    }

    .programming {
        background-image: url(/pictures/programming1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border: solid;
        border-color: gray;
        }

    /* links til andre sider - Homepage */

    .mobile-links {
        display: none;
    }

    .desktop-links {
        margin-bottom: 2rem;
        margin-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box1, .box2, .box3, .box4 {
        width: 400px;
        height: 400px;
        justify-self: center;
    }

    .box1 div a, .box2 div a, .box3 div a, .box4 div a {
        font-size: 3rem;
    }

    
    .box1 {
        background-image: url(/pictures/port2.jpeg);
        background-size:cover;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }


    .box1 div {
        z-index:1;
        color:#fff;
        text-align:center;
        padding-top:40%;
        padding-bottom: 46%;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box1 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
            
    }

    .box1 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Homepage - Blog - Desktop */


    .box2 {
        background-image: url(/pictures/blog2.jpeg);
        background-size:cover;
        background-position: center;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box2 div {
        z-index:1;
        color:#fff;
        text-align:center;
        padding-top:40%;
        padding-bottom: 46%;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box2 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .box2 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Homepage - About me - Desktop */


    .box3 {
        background-image: url(/pictures/about3.jpg);
        background-size:cover;
        background-position: center;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box3 div {
        z-index:1;
        color:#fff;
        text-align:center;
        padding-top:40%;
        padding-bottom: 46%;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box3 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
         
    }

    .box3 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Homepage - Contact - Desktop */


    .box4 {
        background-image: url(/pictures/contact1.jpeg);
        background-size:cover;
        background-position: center;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box4 div {
        z-index:1;
        color:#fff;
        text-align:center;
        padding-top:40%;
        padding-bottom: 46%;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box4 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
            
    }

    .box4 div:hover {
        opacity:1;  
        z-index:3;
    }

    /* Body - Portfolio - Desktop */


    
    .mobrh3 {
        display: none;
    }   

    .deskrh3 {
        display: block;        
    }
    
    .project h3 {
        text-decoration: none;
    }
       
    .project img {
        display: flex;
        width: 300px;
        height: 200px;
    }


    .project-content{
        width: 50vw;
        height: 550px;
        background-color: white;
        border-radius: 4px;
        position: relative;
        margin-top: 10rem;
    }
    
    
    
    /* Body - Blog - Desktop */

    .blogpic img {
        height: auto;
    }

    .wheelchair {
        font-size: 1.3rem;
        margin-top: 26rem;
        margin-left: 4.5rem;
        transform: rotate(350deg);
    }


    /* Body - About Me - Desktop */
    
    
    /* Body - Contact - Desktop */






    /* Footer Scaled - Desktop */

    .copyright {
        margin-left: 0;
    }
    

}

/*  1920 media querry */

@media (min-width: 1081px) {


    /* Header Scaled - Desktop */
    
    header {
        display: inline-flex;
        justify-content: space-between;
        position: absolute;
        top: 0;
        height: 88px;
        width: 100%;
        background-color: var(--tertiary-color);
        border-bottom: 2px solid var(--secondary-color);
    }

    header a {
        text-decoration: none;
        color: var(--quaternary-color);
        font-weight: 500;
        font-size: 20px;
    }

    /* Navigation - Desktop */

    .span {
        display: none;
    }

    .sidenav {
        display: none;
    }

    .topnav {
        display: inline-flex;
        justify-content: center;
    }

    nav ul {
        list-style: none;
        display: flex;
        margin-top: 1.8rem;
        margin-bottom: 0;
        padding: 0;
    }

    nav li {
        margin: 2rem;
        margin-bottom: 0;
        margin-top: 0;
    }



    /* Body - Homepage - Desktop */

    .programming-text h1 {
        margin-top: -20rem;
        font-size: 4rem;
    } 

    
    .programming-text h2 {
        margin-top: 10rem;
        margin-right: 15rem;
        float: right;
        text-align: start;
    }

    .programming {
        background-image: url(/pictures/programming1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        border: solid;
        border-color: gray;
        }

    /* links til andre sider - Homepage - Desktop */

    .mobile-links {
        display: none;
    }

    .desktop-links {
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .box1, .box2, .box3, .box4 {
        width: 700px;
        height: 400px;
        justify-self: center;
    }

    .box1 div, .box2 div, .box3 div, .box4 div {
        padding-top: 25%;
        padding-bottom: 24.5%;
    }

    .box1 div a, .box2 div a, .box3 div a, .box4 div a {
        font-size: 3rem;
    }

    .box1 {
        background-image: url(/pictures/port2.jpeg);
        background-size:cover;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box1 div {
        z-index:1;
        color:#fff;
        text-align:center;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box1 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
            
    }

    .box1 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Homepage - Blog - Desktop */


    .box2 {
        background-image: url(/pictures/blog2.jpeg);
        background-size:cover;
        background-position: center;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box2 div {
        z-index:1;
        color:#fff;
        text-align:center;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box2 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    .box2 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Homepage - About me - Desktop */


    .box3 {
        background-image: url(/pictures/about3.jpg);
        background-size:cover;
        background-position: center;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box3 div {
        z-index:1;
        color:#fff;
        text-align:center;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box3 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
         
    }

    .box3 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Homepage - Contact - Desktop */


    .box4 {
        background-image: url(/pictures/contact1.jpeg);
        background-size:cover;
        background-position: center;
        display:inline-block;
        border-radius:16px;
        box-shadow:0 0 16px rgba(0,0,0,0.5);
        position:relative;
    }

    .box4 div {
        z-index:1;
        color:#fff;
        text-align:center;
        background-color:rgba(0,0,0,0.5);
        border-radius:16px;
        opacity:0;
        transition:.3s;
    }

    .box4 div a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
            
    }

    .box4 div:hover {
        opacity:1;  
        z-index:3;
    }


    /* Body - Portfolio - Desktop */
    

    .project-content{
        width: 50vw;
        height: 50vh;
        background-color: white;
        border-radius: 4px;
        position: relative;
        margin-top: 0;
    }
    
    .project-content img {
        left: 35%;
    }
    

    /* Body - Blog - Desktop */


    .blogpic img {
        height: auto;
    }

    .wheelchair {
        font-size: 2rem;
        margin-top: 47rem;
        margin-left: 10rem;
        transform: rotate(350deg);
    }


    /* Body - About Me - Desktop */
    
    
    /* Body - Contact - Desktop */



    /* Footer Scaled - Desktop */

    .copyright {
        margin-left: 0;
    }
    

}

